* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .wrapper .content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-bottom: 24px; }

.container {
  margin: 0 auto;
  width: 750px;
  max-width: 100vw;
  padding: 0 16px; }

body {
  font-size: 16px;
  line-height: 1.7;
  color: #3d3d3d; }

h1, h2, h3, h4 {
  font-family: 'Encode Sans', sans-serif;
  margin-top: 1em;
  margin-bottom: 0.4em; }

h1 {
  font-family: 'Encode Sans Condensed', sans-serif;
  text-transform: uppercase;
  margin-bottom: -0.4em; }
  h1.include-margin {
    margin-bottom: 0.4em; }
  h1.title {
    margin-top: 1rem;
    margin-bottom: 0.4em;
    color: #4b2e83;
    font-size: 50px;
    font-weight: 700; }

p {
  margin-bottom: 0.5em; }
  p.intro {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 24px;
    line-height: 1.5; }

ul {
  margin-bottom: 0.5em;
  margin-left: 1.5em; }
  ul li {
    margin-bottom: 0.5em; }

.boundless-nav {
  font-family: 'Encode Sans Condensed', sans-serif;
  list-style: none;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .boundless-nav li {
    margin-bottom: 0; }
    .boundless-nav li a {
      text-decoration: none;
      color: white; }
      .boundless-nav li a::after {
        content: '/';
        opacity: 0.5;
        margin: 0 5px; }

.chart {
  margin-bottom: 3em !important; }
  .chart .chart-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .chart h3 {
    font-family: 'Encode Sans Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center; }
  .chart.chart-diminished {
    width: 100%;
    max-width: 525px;
    margin: 0 auto; }
  .chart.chart-tappable path.ct-slice-donut,
  .chart.chart-tappable text.ct-label {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

.chart-more-info {
  background-color: #d9d9d9;
  padding: 16px; }
  .chart-more-info h3 {
    margin: 0; }
  .chart-more-info .hidden {
    display: none; }

.ct-chart-donut text,
.ct-chart-bar text {
  font-family: 'Encode Sans Condensed', sans-serif;
  fill: black;
  font-weight: 900; }

.adjacent-charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .adjacent-charts div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.bar-chart {
  margin-bottom: 3em !important;
  height: 525px; }
  .bar-chart .ct-bar {
    stroke-width: 70px; }
  .bar-chart .ct-bar-label {
    -webkit-transform: translateX(-20px) translateY(10px);
            transform: translateX(-20px) translateY(10px); }
  .bar-chart.chart-tappable line.ct-bar,
  .bar-chart.chart-tappable text.ct-bar-label {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

.revenue-chart .student-housing path {
  stroke: #1abc9c; }

.revenue-chart .food-sales path {
  stroke: #f1c40f; }

.revenue-chart .other path {
  stroke: #3498db; }

.revenue-other-chart .conference-revenue path {
  stroke: #9b59b6; }

.revenue-other-chart .catering path {
  stroke: #34495e; }

.revenue-other-chart .athletics path {
  stroke: #e74c3c; }

.revenue-other-chart .forfeitures-and-fees path {
  stroke: #2ecc71; }

.revenue-other-chart .laundry path {
  stroke: #d35400; }

.revenue-other-chart .vending-commissions path {
  stroke: #95a5a6; }

.revenue-other-chart g text:nth-of-type(6) {
  -webkit-transform: translateY(-0.5em);
          transform: translateY(-0.5em); }

.revenue-other-chart .other-food-service path {
  stroke: #1abc9c; }

.revenue-other-chart g text:nth-of-type(7) {
  -webkit-transform: translateY(-1.6em);
          transform: translateY(-1.6em); }

.expenses-general-chart .operating-expenses path {
  stroke: #1abc9c; }

.expenses-general-chart .debt-service path {
  stroke: #f1c40f; }

.expenses-general-chart .capital-improvements path {
  stroke: #3498db; }

.expenses-operating-chart .salaries-and-benefits path {
  stroke: #1abc9c; }

.expenses-operating-chart .cost-of-food path {
  stroke: #f1c40f; }

.expenses-operating-chart .indirect-expenses path {
  stroke: #3498db; }

.expenses-operating-chart .utilities path {
  stroke: #9b59b6; }

.expenses-operating-chart .contract-services path {
  stroke: #34495e; }

.expenses-operating-chart .supplies-and-materials path {
  stroke: #e74c3c; }

.expenses-operating-chart .repairs-and-maintainence path {
  stroke: #2ecc71; }

.expenses-operating-chart g text:nth-of-type(7) {
  -webkit-transform: translateY(-0.5em);
          transform: translateY(-0.5em); }

.expenses-operating-chart .other path {
  stroke: #d35400; }

.expenses-operating-chart g text:nth-of-type(8) {
  -webkit-transform: translateY(-1.6em);
          transform: translateY(-1.6em); }

.housing-revenue-chart .ct-bar-label:nth-of-type(4) {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px); }

.footer {
  height: 425px;
  width: 100vw;
  background-image: url("/assets/img/uw-footer.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 7px solid #d9d9d9;
  font-family: 'Encode Sans Condensed', sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .footer .container {
    text-align: center; }
  .footer .wordmark {
    height: 30px; }
  .footer .boundless {
    height: 70px;
    margin: 32px 0; }

.header {
  height: 90px;
  width: 100vw;
  background-color: #4b2e83;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
  z-index: 999;
  position: relative; }
  .header .container {
    height: 100%;
    width: 1170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .logo {
    height: 80px; }
  .header .logo-container {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .header .wordmark {
    height: 20px;
    margin-top: 10px;
    margin-left: 24px; }
  .header .boundless-nav {
    margin-top: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 18px; }

.hero {
  width: 100%;
  height: 450px;
  background-image: url("/assets/img/lander-background-crop.png");
  background-position: center;
  background-repeat: no-repeat; }

.nav {
  position: -webkit-sticky;
  position: sticky;
  -ms-flex-item-align: start;
      align-self: flex-start;
  top: 0;
  height: 100vh;
  max-width: 350px;
  background-color: #efefef;
  margin-top: -90px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2); }
  @media (max-width: 1150px) {
    .nav {
      display: none; } }
  .nav .nav-header {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    background-color: #4b2e83;
    color: white;
    padding: 16px;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .nav ul {
    list-style: none;
    margin-left: 0;
    max-height: calc(100% - 90px);
    overflow-y: auto; }
    .nav ul li {
      margin-bottom: 0;
      font-family: 'Encode Sans Condensed', sans-serif; }
      .nav ul li.active a {
        color: #007bce; }
      .nav ul li.label {
        background-color: #444444;
        color: white;
        padding: 4px 16px; }
      .nav ul li a {
        display: block;
        color: inherit;
        text-decoration: none;
        padding: 8px 16px;
        -webkit-transition: all 100ms;
        transition: all 100ms; }
        .nav ul li a:hover {
          background-color: #d9d9d9; }
