.chart {
  margin-bottom: 3em !important;

  .chart-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-family: 'Encode Sans Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  &.chart-diminished {
    width: 100%;
    max-width: #{$page-width * 0.7};
    margin: 0 auto;
  }

  &.chart-tappable path.ct-slice-donut,
  &.chart-tappable text.ct-label {
    cursor: pointer;
    user-select: none;
  }
}

.chart-more-info {
  background-color: $color-gray-light;
  padding: 16px;

  h3 {
    margin: 0;
  }

  .hidden {
    display: none;
  }
}

.ct-chart-donut text,
.ct-chart-bar text {
  font-family: 'Encode Sans Condensed', sans-serif;
  fill: black;
  font-weight: 900;
}

.adjacent-charts {
  display: flex;
  flex-direction: row;

  div {
    flex: 1
  }
}

.bar-chart {
  margin-bottom: 3em !important;
  height: #{$page-width * 0.7};

  .ct-bar {
    stroke-width: 70px;
  }

  .ct-bar-label {
    transform: translateX(-20px) translateY(10px);
  }

  &.chart-tappable line.ct-bar,
  &.chart-tappable text.ct-bar-label {
    cursor: pointer;
    user-select: none;
  }
}
