.footer {
  height: $footer-height;
  width: 100vw;
  background-image: url('/assets/img/uw-footer.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 24px;
  border-top: 7px solid $color-gray-light;
  font-family: 'Encode Sans Condensed', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .container {
    text-align: center;
  }

  .wordmark {
    height: 30px;
  }

  .boundless {
    height: 70px;
    margin: 32px 0;
  }
}
