.nav {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 0;
  height: 100vh;
  // width: calc((100% - #{$page-width}) / 2);
  max-width: $nav-width;
  background-color: #efefef;
  margin-top: #{-1 * $header-height};
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);

  &::stuck {
    background-color: #000;
  }

  .nav-header {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    background-color: $color-purple;
    color: white;
    padding: 16px;
    height: $header-height;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  ul {
    list-style: none;
    margin-left: 0;

    li {
      margin-bottom: 0;
      font-family: 'Encode Sans Condensed', sans-serif;

      &.label {
        background-color: $color-gray-dark;
        color: white;
        padding: 4px 16px;
      }

      a {
        display: block;
        color: inherit;
        text-decoration: none;
        padding: 8px 16px;
        transition: all 100ms;

        &:hover {
          background-color: $color-gray-light;
        }
      }
    }
  }
}
