* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: row;

  .content {
    flex: 1;
  }
}

.container {
  margin: 0 auto;
  width: $page-width;
  max-width: 100vw;
  padding: 0 16px;
}
