body {
  font-size: 16px;
  line-height: 1.7;
  color: $color-font;
}

h1, h2, h3, h4 {
  font-family: 'Encode Sans', sans-serif;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

h1 {
  font-family: 'Encode Sans Condensed', sans-serif;
  text-transform: uppercase;
  margin-bottom: -0.4em;

  &.include-margin {
    margin-bottom: 0.4em;
  }

  &.title {
    margin-top: 1rem;
    margin-bottom: 0.4em;
    color: $color-purple;
    font-size: 50px;
    font-weight: 700;
  }
}

h2 {

}

p {
  margin-bottom: 0.5em;

  &.intro {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 24px;
    line-height: 1.5;
  }
}

ul {
  margin-bottom: 0.5em;
  margin-left: 1.5em;

  li {
    margin-bottom: 0.5em;
  }
}
