$color-purple: #4b2e83;
$color-gold: #e8e3d3;
$color-gold-metal: #85754d;
$color-gray-light: #d9d9d9;
$color-gray-dark: #444444;
$color-font: #3d3d3d;
$color-blue: #007bce;

$chart-colors: #1abc9c, #f1c40f, #3498db, #9b59b6, #34495e, #e74c3c, #2ecc71, #d35400, #95a5a6;

$header-height: 90px;
$hero-height: 450px;
$header-width: 1170px;
$nav-width: 350px;
$page-width: 750px;

$break-hide-nav: 1150px;
