$color-purple: #4b2e83;
$color-gold: #e8e3d3;
$color-gold-metal: #85754d;
$color-gray-light: #d9d9d9;
$color-gray-dark: #444444;
$color-font: #3d3d3d;
$color-blue: #007bce;

$header-height: 90px;
$hero-height: 450px;
$header-width: 1170px;
$nav-width: 350px;
$page-width: 750px;
